<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.xmomen.framework.mybatis.mapper.BaseMybatisMapper">

	<!--	查询最新的自增长主键	-->
	<select id="SELECT_INCREMENT_PK" resultType="java.lang.Integer">
		select last_insert_id()
	</select>

	<!--	查询最新数据库时间	-->
	<select id="SELECT_SYSDATE" resultType="java.util.Date">
		select sysdate()
	</select>

	<!--	获取国际GMT时间	-->
	<select id="SELECT_GMT" resultType="java.util.Date">
		select DATE_SUB(NOW(), INTERVAL 8 HOUR)
	</select>

</mapper>